.App {
  display: flex;
  flex-direction: column;
  height: 98vh;
  width: 98vw;
}

.App-content {
  flex: 1 0 auto;
}

@import '~antd/dist/antd.css';

@import url('https://fonts.googleapis.com/css?family=Righteous|ZCOOL+KuaiLe');